/*
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
*/
table, span {
    color: #b8bb26;
    /*font: 12px SFMono-Medium;*/
    /*text-transform: lowercase;*/
    -webkit-font-smoothing: antialiased;
}
.white {
    color: #ebdbb2;
}

.black {
  color: #282828;
}

.background {
    background-color: #282828;
}

.red {
    color: #fb4934;
}

.purple {
    color: #b16286;
}

.orange {
    color: #d79921;
}
.orangebg {
    background: #fabd2f;
    color: #ebdbb2;
}

.yellow {
    color: #c77a4b;
}

.yellowbg {
    background: #c77a4b;
    color: #ebdbb2;
}

.green {
    color: #b8bb26;
}

.greenbg {
    background: #b8bb26;
    color: #ebdbb2;
}

.bluebg {
    background: #5124e3;
    color: #ebdbb2;
}

.cyan {
    color: #1da9a2;
}

.cyanbg {
    background: #1da9a2;
    color: #ebdbb2;
}

.blue {
    color: #5124e3;
}

.teal {
    color: #149c92;
}

.sicon {
    position: relative;
    font: 10px FontAwesome;
}
.icon {
    position: relative;
    top: 1px;
    font: 14px FontAwesome;
}
.weather {
    font: 16px WeatherIcons-Regular;
    position: relative;
    top: 2px;
}

.vol_icon {
   position: relative;
   font: 18px FontAwesome;
}

.grey {
    color: #b3b9be;
}

.active {

}
